<h1>Showing stock</h2>

<p><strong>Name: </strong><%= @stock.name %><p>

<%= link_to 'Edit', edit_stock_path(@stock) %></td>
<%= link_to 'Delete', stock_path(@stock), method: :delete, data: {confirm: "Are you sure?"} %></td>
<%= link_to 'All Stocks', stocks_path %></td>